/*
Paleta de colores
color: #FCEFED; Rosa palido
color: #E8C2CA; Reina rosa
color: #D1B3C4; Cardo
color: #B392AC; Uva brillante
color: #735D78; Lavanda
 */
 @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,300&display=swap');
 /* font-family: 'Poppins', sans-serif; */
 *{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;

 }

  /* Barra de navegacion */
  .navbar{
    padding: 2rem;
    background: rgb(207,193,212);
    background: radial-gradient(circle, rgba(207,193,212,1) 50%, rgba(232,221,218,1) 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 10px 10px 10px rgb(182, 180, 180);
 }

.carousel-inner{
    max-height: 39rem;
    text-align: center;
}

.carousel-item{
    max-height: 39rem;
    text-align: center;
    padding: 1rem;
}


h1{
    text-align: center;
    padding: 1rem;
  }

  .card{
    margin: 2rem;

  }

 /* FOOTER */
 .footer{
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #f1e2f5;
    color: black;
    padding: 1rem;
    /* background: rgb(252,246,254); */
    background: rgb(207,193,212);
    background: radial-gradient(circle, rgba(207,193,212,1) 50%, rgba(232,221,218,1) 100%);

 }

 .formulario{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin: 2rem;
 }
 .footer-redes, li{
    display: flex;
    list-style: none;
    justify-content: space-around;
    text-decoration: none;

 }

 .espacio{
    padding: 10px;
    border-radius: 3px;
    margin: 10px;
 }

 .button{
    padding: 1rem;
 }

.form{
  background: linear-gradient(#f1e2f5 0%, #eed5f5 30%, #eac8f3 30%, #ebc2f7 100% );


}

/* main{
   background: linear-gradient(#200525 0%, #68207c 30%, #2a0b33 30%, #f1e2f5 100%);
} */

.contacto{
   position: relative;
   width: 100%;
   padding: 40px 100px;
}

.contacto .title {
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 2rem;
}

.box{
   position: relative;
}

.form{
   grid-area: form;
}

.info{
   grid-area: info;
}

.map{
   grid-area: map;
}

.contact{
   padding: 40px;
   background: #decae4;
   box-shadow: 0 5px 35px rgba(0,0,0.15);
}

.box{
   position: relative;
   display: grid;
   grid-template-columns: 2fr 1fr;
   grid-template-rows: 5fr 4fr;
   grid-template-areas:
   "form info"
   "form map";
   grid-gap: 20px;
   margin-top: 20px;


}

.contacto h3 {
   color:rgb(13, 14, 14);
   font-weight: 500;
   font-size: 1.4em;
   margin-bottom: 10px;
}


/* form */
.formBox{
   position: relative;
   width: 100%;
}

.formBox .row50{
   display: flex;
   gap: 20px;
   flex-direction: column;
}

.inputBox{
   display: flex;
   margin-bottom: 10px;
   width: 50%;
}

.formBox .row100 .inputBox{
   width: 100;

}

.inputBox span{
   color: rgb(151, 108, 231);
   margin-top: 10px;
   margin-bottom: 5px;
   font-weight: 500;

}

.inputBox input{
   padding: 10px;
   font-size: 1.1em;
   outline: none;
   border: 1px solid #333;
}

.input textarea{
   padding: 10px;
   font-size: 1.1em;
   outline: none;
   border: 1px solid #333;
   resize: none;
   min-height: 220px;
   margin-bottom: 10px;

}
/* Info */

.info{
 background-color: #f1e2f5;
}

.info h3 {
   color: black;
}

.info .infoBox div{
   display: flex;
   align-items: center;
   margin-bottom: 10px;

}

.info .infoBox div span{
   min-width: 40px;
   height: 40px;
   color: black;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: aliceblue;
   font-size: 1.5rem;
   border-radius: 50%;
   margin-right: 15px;
}

.info .infoBox div p{
   color: #333;
   font-size: 1.1em;
}

.info .infoBox div a {
   color: #333;
   text-decoration: none;
   font-size: 1.1em;
}

.redes {
   margin-top: flex;
   display: flex;
}

.redes li{
   list-style: none;
   margin-right: 15px;
}

.redes li a {
   color: black;
   font-size: 2rem;
   color: #333;
}

.redes li a:hover{
   color: #d771f7;
}

.map{
   padding: 0;
}

.map iframe{
   width: 100%;
   height: 100%;
}

/* Responsive */

@media (max-width: 991px)
{
   main
   {
      background: #f1e2f5;
   }
   .contacto{
      padding: 20px;
   }
   .box
   {
      position: relative;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: auto;
      grid-template-areas:
      "form"
      "info"
      "map";
   }



   .formBox .row50{
      display: flex;
      gap: 0;
      flex-direction: column;
   }

   .inputBox{
      width: 100%;
   }

   .contact{
      padding: 30px;
   }

   .map{
      min-height: 300px;
      padding: 30px;
   }

   }



.container-preguntas{
   width: 50%;
   margin: 0 auto;
   margin-top: 5%;


}

.container-preguntas, h2 {
   color: #333;
   position: relative;
   width: 50rem;
}

.accordion{
   width: 100%;
   padding: 0 5px;
   border: 2px solid  #eac8f3;
   cursor: pointer;
   border-radius: 50px;
   display: flex;
   margin: 10px 0;
   align-items: center;
}

.accordion .icon{
   margin: 0 10px 0 0 ;
   width: 30px;
   height: 30px;
   background: url(images/toggle-gg.png) no-repeat 8px 7px #cc63ec;
   border-radius: 50%;
   float: left;
   transition:  all .5s ease-in;
}


.accordion h3{
   font-size: 22px;
   margin: 0;
   padding: 3px 0 0 0 ;
   font-weight: normal;
   color: #852f2f;

}


.panel{
   padding: 0 15px;
   border-left: 1px solid #d771f7;
   margin-left: 25px;
   font-size: 14px;
   text-align: justify;
   overflow: hidden;
   max-height: 300px;
   transition: all .5s ease-in;
}

/* Seccion sobre mi */
.seccion-color{
   background-color: #e2d7e6;
   /* width: auto; */
}

.sobre-mi {
   height: 500px;
   padding: 10px;
}

.sobre-mi .contenedor {
   width: 18rem;
   text-align: center;
   height: 900px;
   
}

.seccion-titulo{
   font-size: 2rem;
   padding: 10px 0;
   margin: 1px;
}

.seccion-texto{
   font-size: 1.2rem;
   /* height: 100px; */
   /* width: 1200px; */
}
